<title>About</title>

<%- include("./Const/header.ejs") %>

<%- include("./Const/head.ejs")%>
<p>Created By <%=name%></p>
<img src="/images/sergi.jpg" alt="mama 7elwa" class="portrait">

<%- include("./Const/footer.ejs") %>