<title>Home</title>


<div class="main-content">
    <%- include("./Const/header.ejs") %>
    <%- include("./Const/head.ejs")%>
    <p>
        use this site to get your weather
    </p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-1">

    </p>
    <p id="message-2">

    </p>
    
</div>
<%- include("./Const/footer.ejs") %>
<script src="/js/app.js"></script>
